docx2txt==0.8
matplotlib==3.6.2
numpy==1.23.5
pandas==1.4.4
PyPDF2==3.0.1
pysbd==0.3.4
PyYAML==6.0.1
Random_Word==1.0.11
regex==2022.10.31
Requests==2.31.0
sentence-transformers==2.6.1
setuptools==65.3.0
tiktoken==0.4.0
torch==2.2.2
tqdm==4.65.0
transformers==4.37.0
chromadb==0.4.24
